@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: rgb(3, 7, 18);
  color: white;
  box-sizing: border-box;
  scroll-padding-top: 89px;
}

/*  #ffc063 - pale orange */
/*  #e69417 - main orange */

/* define color variable */

@layer components {
  .flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
  }
  .dark {
    @apply bg-gray-950 text-white;
  }

  .light {
    @apply bg-white text-black;
  }
  .custom-h {
    height: calc(100vh - 90px);
  }
  .mock-border {
    /* border: 2px solid tomato; */
    /* background-color: #081b30; */
  }
  .border-rad {
    border-radius: 0.5rem;
  }
  .Fflex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
  }
  .nav-btn {
    /* font-semibold text-white mx-2 hover:underline */
    font-weight: 600;
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .nav-btn:hover {
    /* change text color to orange */
    color: #e69417;
  }

  .orange-hover:hover {
    /* change text color to orange */
    color: #e69417;
  }

  .toggleSwitch {
    width: 60px;
    height: 32px;
    border-radius: 25px;
    padding: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
  }

  /* CSS for switch when "on"*/
  .toggleSwitch.on {
    background-color: rgb(33, 38, 52);
    justify-content: flex-end;
    /* for smooth transition*/
    transition: 0.5s ease-in-out;
  }

  /*CSS for switch when "off"*/
  .toggleSwitch.off {
    background-color: #dddddd;
    justify-content: flex-start;
    transition: 0.5s ease-in-out;
  }

  /* .toggleSwitch div {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
  } */

  @layer components {
  }
}
