@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: rgb(3, 7, 18);
  color: white;
  box-sizing: border-box;
  scroll-padding-top: 89px;
}
root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
}

/*  #ffc063 - pale orange */
/*  #e69417 - main orange */

/* define color variable */

@layer components {
  .flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
  }
  .dark {
    @apply bg-gray-950 text-white;
  }

  .light {
    @apply bg-white text-black;
  }
  .custom-h {
    height: calc(100vh - 90px);
  }
  .mock-border {
    /* border: 2px solid tomato; */
    /* background-color: #081b30; */
  }
  .border-rad {
    border-radius: 0.5rem;
  }
  .Fflex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
  }
  .nav-btn {
    /* font-semibold text-white mx-2 hover:underline */
    font-weight: 600;
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .nav-btn:hover {
    /* change text color to orange */
    color: #e69417;
  }

  .orange-hover:hover {
    /* change text color to orange */
    color: #e69417;
  }

  @layer components {
  }
}
